
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    
}

header {
    background-color: #4a6cf7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 32px;
}


nav {
    background-color: #2f3b52;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #4a6cf7;
}


img {
    display: block;
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    color: #333;
    line-height: 1.6;
}


header {
    background-color: #4a6cf7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 32px;
    font-weight: bold;
}


nav {
    background-color: #2f3b52;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;         
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #4a6cf7;
}


img {
    display: block;
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(227, 212, 212);
    border-radius: 10px;
    text-align: center;
}


footer {
    background-color: #2f3b52;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
}



